#navfoot
	#container
		#fullwidth
			%ul
				%li.title Coral Info
				%li
					%a(href="/features.html") Features and Benefits
				%li
					%a(href="/modules/") Open-source Modules
				%li
					%a(href="/downloads.html") Downloads
				%li
					%a(href="/about.html") About
			%ul
				%li.title Help
				%li
					%a(href="http://doc.libcoral.org/latest/learning.html") Learning Coral
				%li
					%a(href="http://doc.libcoral.org/latest/") Documentation
				%li
					%a(href="http://groups.google.com/group/libcoral") Mailing List
				%li
					%a(href="http://github.com/libcoral/coral/wiki") Wiki
			%ul
				%li.title GitHub
				%li
					%a(href="http://github.com/libcoral/coral") Source Code
				%li
					%a(href="http://github.com/libcoral/coral/issues") Issue Tracker
				%li
					%a(href="http://github.com/libcoral/coral/graphs") Project Graphs
				%li
					%a(href="https://github.com/libcoral") Organization
			%ul
				%li.title Activity
				%li
					%a(href="http://twitter.com/libcoral") Twitter
				%li
					%a(href="/news/") News
				%li
					%a(href="/tags/release/") Releases
				%li
					%a(href="https://github.com/libcoral/coral/commits/") Commits
			%ul
				%li.title Feeds
				%li
					%a.feed(href="http://libcoral.org/news/atom.xml") News
				%li
					%a.feed(href="http://libcoral.org/releases/atom.xml") Releases

#copyright
	&copy; 2009-2011 libcoral.org. Coral is <a href="https://github.com/libcoral/coral">open source</a>.
	See the
	%a(href="https://github.com/libcoral/coral/blob/master/LICENSE.md") Coral License
	for details.
	%br
	Updated on #{Time.now.strftime( "%b %e %Y" )}.
