- render 'sidetags' do
	%h1 Tag: #{@item[:title]}
	%p This page lists all articles tagged with "#{@item[:tag]}":
	%ul
		- sorted_articles_with_tag( @item[:tag] ).each do |article|
			%li
				= Time.parse( article[:created_at] ).strftime( "%Y-%m-%d" )
				= link_to( article[:title], article )
