- @item[:title] = "Tag: " + @item[:title]
- render 'sidetags' do
	%h1 #{@item[:title]}
	%p This page lists all articles tagged as "#{@item[:tag]}":
	%ul
		- sorted_articles_with_tag( @item[:tag] ).each do |article|
			%li
				= Time.parse( article[:created_at] ).strftime( "%Y-%m-%d" )
				= link_to( article[:title], article )